body{
    background-color: antiquewhite;
}
p {
    font-size: 150%;  
}

.navbar {width: 100%;
    background-color: #000000;
    overflow: auto;
    }

.navbar-title .icon {
        width: 70px;           
        height: 50px;           
        vertical-align: middle; 
        margin-right: 8px;      
    }

.navbar span{
    font-family:Verdana;
    font-size: 24px;
    color: #f2f2f2;
    padding: 14px 20px;
    font-weight: bold;
    display: inline-block;
}
.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 25px;
}

.navbar a:hover {
    text-decoration: underline; 
}

.navbar a:hover {
    color: #f8f8f8;
}

.Sobre {
    max-width: 900px; /* Limita a largura do texto para melhor legibilidade */
    margin: 20px auto; /* Centraliza o conteúdo na página */
    padding: 15px; /* Espaçamento interno */
    background-color: #fcfcfc; /* Cor de fundo suave */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

.Sobre h2 {
    text-align: center; /* Centraliza o título */
    color: #4CAF50; /* Cor do texto */
    font-size: 40px;
    ;
}
.Sobre img {
    width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Arredonda os cantos da imagem */
    margin-top: 15px; /* Espaço acima da imagem */
}