
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.Oquefazer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Oquefazer h1, .Oquefazer h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Georgia', serif;
}

.Oquefazer h1 {
    font-size: 26px;
    color: #4CAF50;
}

.Oquefazer h2 {
    font-size: 22px;
    color: #333333;
}

.Oquefazer p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}


.Oquefazer img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Oquefazer img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

a {
    color: #4CAF50;
    text-decoration: underline;
}

a:hover {
    color: #388E3C;
}
.Oquefazer + .Oquefazer {
    margin-top: 20px;
}